package view

import "github.com/0sujaljain0/alloy-view/pkg/view/layout"
import "github.com/0sujaljain0/alloy-view/pkg/view/components"
import "github.com/0sujaljain0/alloy-view/pkg/state"



templ Home(state state.AppState) {
    @view.BaseLayout() {
        <div class="top-14 w-full h-max flex flex-col items-center gap-14">
            

            <div 
                hx-get="/cluster_info" 
                hx-trigger="every 10s" 
                hx-target="this" 
                hx-swap="innerHTML" 
                hx-indicator="#cluster-info-loading-indicator"
            >
                @components.ClusterInfo(state.GetNodes())
            </div>
            
        </div>
    }
}
