package components

templ Navbar() {
	<nav class="py-2 px-4 bottom-10 flex w-full justify-between bg-slate-800 items-center border-b-2 border-white">
		<div class="flex items-center gap-4 w-max font-bold text-3xl">
			<a href="/">Alloy View</a>
			<div class="w-10 h-10">
				@Loader("cluster-info-loading-indicator")
			</div>
		</div>
		<ul class="w-max text-xl font-semibold underline flex gap-10 items-center">
			<a href="/config">Config</a>
			<a href="/nodes_info">Nodes</a>
			<a href="/search_targets">Search Targets</a>
		</ul>
	</nav>
}
