package components

templ Navbar() {
    <nav class="flex gap-30">
        <div class="w-max">
            <p>Alloy View</p>
        </div>
        <ul class="w-max">
            <a href="/config">Config</a>
        </ul>
    </nav>
}
